In [2]:
from sqlalchemy import create_engine
db_string = 'postgres://wbauer_adb:adb2020@pgsql-196447.vipserv.org:5432/wbauer_adb'
db = create_engine(db_string)

In [10]:
from sqlalchemy import MetaData, Table
print(db.table_names())
metadata = MetaData()

['staff', 'category', 'film_category', 'country', 'actor', 'language', 'store', 'rental', 'city', 'address', 'film_actor', 'payment', 'users', 'film', 'customer', 'inventory']

In [15]:
#Task 2: Relationship between staff and country


staff = Table('staff', metadata, autoload = True, autoload_with = db)
print(staff.columns.keys())

['staff_id', 'first_name', 'last_name', 'address_id', 'email', 'store_id', 'active', 'username', 'password', 'last_update', 'picture']

In [16]:
#Via column 'address_id' the table relates to table address:
address = Table('address', metadata, autoload = True, autoload_with = db)
print(address.columns.keys())

['address_id', 'address', 'address2', 'district', 'city_id', 'postal_code', 'phone', 'last_update']

In [17]:
#Via column 'city_id' the table relates to table city:
city = Table('city', metadata, autoload = True, autoload_with = db)
print(city.columns.keys())

['city_id', 'city', 'country_id', 'last_update']

In [18]:
#Via column 'country_id' the table relates to table country:
country = Table('country', metadata, autoload = True, autoload_with = db)
print(country.columns.keys())

['country_id', 'country', 'last_update']

In [19]:
#Task 2: Relationship between actor, language and film


actor = Table('actor', metadata, autoload = True, autoload_with = db)
print(actor.columns.keys())

['actor_id', 'first_name', 'last_name', 'last_update']

In [20]:
#Table film_actor relates to table actor via column 'actor_id':
film_actor = Table('film_actor', metadata, autoload = True, autoload_with = db)
print(film_actor.columns.keys())

['actor_id', 'film_id', 'last_update']

In [21]:
#Via column 'film_id' the table relates to table film:
film = Table('film', metadata, autoload = True, autoload_with = db)
print(film.columns.keys())

['film_id', 'title', 'description', 'release_year', 'language_id', 'rental_duration', 'rental_rate', 'length', 'replacement_cost', 'rating', 'last_update', 'special_features', 'fulltext']

In [22]:
#Via column 'language_id' the table relates to table language:
language = Table('language', metadata, autoload = True, autoload_with = db)
print(language.columns.keys())

['language_id', 'name', 'last_update']

In [23]:
#Each time we can confirm relationship by using print(repr(table)) and looking for ForeignKey(...), e.g. between 
#film and language:
print(repr(film))

Table('film', MetaData(bind=None), Column('film_id', INTEGER(), table=<film>, primary_key=True, nullable=False, server_default=DefaultClause(<sqlalchemy.sql.elements.TextClause object at 0x0000027425736788>, for_update=False)), Column('title', VARCHAR(length=255), table=<film>, nullable=False), Column('description', TEXT(), table=<film>), Column('release_year', INTEGER(), table=<film>), Column('language_id', SMALLINT(), ForeignKey('language.language_id'), table=<film>, nullable=False), Column('rental_duration', SMALLINT(), table=<film>, nullable=False, server_default=DefaultClause(<sqlalchemy.sql.elements.TextClause object at 0x0000027425762848>, for_update=False)), Column('rental_rate', NUMERIC(precision=4, scale=2), table=<film>, nullable=False, server_default=DefaultClause(<sqlalchemy.sql.elements.TextClause object at 0x0000027425762108>, for_update=False)), Column('length', SMALLINT(), table=<film>), Column('replacement_cost', NUMERIC(precision=5, scale=2), table=<film>, nullable=False, server_default=DefaultClause(<sqlalchemy.sql.elements.TextClause object at 0x000002742575B688>, for_update=False)), Column('rating', ENUM('G', 'PG', 'PG-13', 'R', 'NC-17', name='mpaa_rating'), table=<film>, server_default=DefaultClause(<sqlalchemy.sql.elements.TextClause object at 0x0000027425762788>, for_update=False)), Column('last_update', TIMESTAMP(), table=<film>, nullable=False, server_default=DefaultClause(<sqlalchemy.sql.elements.TextClause object at 0x0000027425739B48>, for_update=False)), Column('special_features', ARRAY(TEXT()), table=<film>), Column('fulltext', TSVECTOR(), table=<film>, nullable=False), schema=None)

In [26]:
#Task 3:

film_category = Table('film_category', metadata, autoload = True, autoload_with = db)
stmt = 'select * from film_category'
print("Number of categories: {}".format(len(db.execute(stmt).fetchall())))

Number of categories: 1000

In [27]:
#Task 4:

category = Table('category', metadata, autoload = True, autoload_with = db)
print(category.columns.keys())

['category_id', 'name', 'last_update']

In [28]:
stmt = 'select name from category'
print(db.execute(stmt).fetchmany(size = 2))

[('Action',), ('Animation',)]

In [31]:
#Task 5:

stmt = 'select title, release_year from film order by release_year asc'
results = db.execute(stmt).fetchall()
print("Newest: {}".format(results[0]))
print("Oldest: {}".format(results[-1]))

Newest: ('Chamber Italian', 2006)
Oldest: ('Zorro Ark', 2006)

In [33]:
#Task 6:

actor = Table('actor', metadata, autoload = True, autoload_with = db)
print(actor.columns.keys())

['actor_id', 'first_name', 'last_name', 'last_update']

In [35]:
stmt = 'select first_name, last_name from actor where first_name = \'Olympia\' or first_name = \'Julia\' or first_name = \'Ellen\''
print(db.execute(stmt).fetchall())

[('Julia', 'Mcqueen'), ('Julia', 'Barrymore'), ('Ellen', 'Presley'), ('Olympia', 'Pfeiffer'), ('Julia', 'Zellweger'), ('Julia', 'Fawcett')]