In [1]:
from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base

db_string = "postgres://wbauer_adb:adb2020@pgsql-196447.vipserv.org:5432/wbauer_adb"
engine = create_engine(db_string)
Base = declarative_base()

In [7]:
#We import data to a DataFrame

import pandas as pd
data = pd.read_csv('C:\\Users\\HP\\Desktop\\chwytak\\Advanced databases\\AB_NYC_2019.csv')
data.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

In [74]:
#We check in which columns there are null values, which will help us to create constraints.
#We also find the number of rows in the DataFrame
for column in data.columns:
    print("{}: {}".format(column, data[column].isnull().sum()))
print("\nNumber of rows: {}".format(data.shape[0]))

name: 16
host_id: 0
host_name: 21
neighbourhood_group: 0
neighbourhood: 0
latitude: 0
longitude: 0
room_type: 0
price: 0
minimum_nights: 0
number_of_reviews: 0
last_review: 10052
reviews_per_month: 10052
calculated_host_listings_count: 0
availability_365: 0

Number of rows: 48895

In [62]:
#We declare the table using ORM

from sqlalchemy import Column, Integer, Float, String, Date, CheckConstraint, UniqueConstraint

class AB_NYC_2019_Kozuszek (Base):
    __tablename__ = 'AB_NYC_2019_Kozuszek_lab4_2'
    __tableargs__ = (CheckConstraint('len(name) > 0'),
                     CheckConstraint('neighbourhood_group in [\'Brooklyn\', \'Manhattan\', \'Queens\', \'Bronx\', \'Staten Island\']'),
                     CheckConstraint('latitude < 90'),
                     CheckConstraint('longitude < 180'),
                     CheckConstraint('room_type in [\'Entire home/apt\', \'Private room\', \'Shared room\']'),
                     CheckConstraint('minimum_nights > 0'),
                     CheckConstraint('availability_365 <= 365'))
    id = Column(Integer, primary_key = True)
    name = Column(String(200), default = 'Unknown name')
    host_id = Column(Integer, nullable = False)
    host_name = Column(String(200), default = 'Unknown host')
    neighbourhood_group = Column(String(100), nullable = False)
    neighbourhood = Column(String(100), nullable = False)
    latitude = Column(Float)
    longitude = Column(Float)
    room_type = Column(String(20))
    price = Column(Integer, nullable = False)
    minimum_nights = Column(Integer, nullable = False)
    number_of_reviews = Column(Integer)
    last_review = Column(Date, default = 'never')
    reviews_per_month = Column(Float, default = 0)
    calculated_host_listings_count = Column(Integer)
    availability_365 = Column(Integer, nullable = False)
    
Base.metadata.create_all(engine)

In [63]:
#We check if the table was created 
if engine.dialect.has_table(engine, "AB_NYC_2019_Kozuszek_lab4_2"):
    print("true")

true

In [64]:
#We set column 'id' as index and upload data to the database server
data.set_index('id', inplace = True)
data.to_sql("AB_NYC_2019_Kozuszek_lab4_2", engine, if_exists = 'append')

In [76]:
#We check if the number of rows in the table is the same as in the DataFrame
stmt = "select count (*) from \"AB_NYC_2019_Kozuszek_lab4_2\""
print(session.execute(stmt).fetchall())

[(48895,)]

In [ ]:
#It is, which means that table was properly filled with data